body {
  display: flex;
}


.settings {
  display: flex;
  flex-direction: column;
  text-align: center;
}
button {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#textInput {
  text-align: center;
}
#colorPicker {
  margin-left: auto;
  margin-right: auto;
  
}


#container {
    
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  max-width: 600px;
  min-width: 600px;
  margin: 0 auto;
  border: 1px solid black;
  aspect-ratio: 1; /* Set the aspect ratio to 1 to make the container a square */
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: calc(100% / attr(data-columns)); /* Set the maximum width of the columns to create a square grid */
}

.row {
  flex: 1;
  border: 1px solid black;
  /*padding: 10px;*/
  text-align: center;
  background-color: lightgray; /* Default background color for all cells */
  aspect-ratio: 1;
}
